apiVersion: apps/v1
kind: Deployment
metadata:
  name: iris-api
  namespace: default
  labels:
    app: iris-api
spec:
  replicas: 1   # start with 1 pod, autoscaler will scale to 3
  selector:
    matchLabels:
      app: iris-api
  template:
    metadata:
      labels:
        app: iris-api
    spec:
      containers:
      - name: iris-container
        image: us-central1-docker.pkg.dev/storied-radius-473212-g7/iris-api-cicd/iris-api:latest
        ports:
        - containerPort: 8000
        readinessProbe:
          httpGet:
            path: /docs
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /docs
            port: 8000
          initialDelaySeconds: 15
          periodSeconds: 20
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
