apiVersion: v1
kind: Service
metadata:
  name: iris-service
  namespace: default
  labels:
    app: iris-api
spec:
  selector:
    app: iris-api
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
  type: LoadBalancer
